@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8fafc;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #6faeb0;
}

.navbar {
    background-color: #6faeb0;
    padding: 15px;
    position: sticky;
    top: 0;
}

.nav-links {
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

.home-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.home-container {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    width: 90%;
}

.intro-box {
    flex: 1;
    background-color: #c3dbdb;
    padding: 30px;
    border-radius: 12px;
}

.paragraph {
    text-align: justify;
    line-height: 35px;
    margin-top: 35px;

}

.image-box {
    flex: 1;
    border: 3px solid #6faeb0;
    padding: 10px;
    background-color: white;
    border-radius: 12px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.about-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.about-container {
    max-width: 1000px;
    width: 100%;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #e2e8f0;
}

.card h3 {
    color: #5a9698;
    margin-bottom: 10px;
}

.card ul,.card ol {
    margin-left: 20px;
}

.contact-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.contact-container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.contact-grid {
    display: flex;
    gap: 15px;
}

.contact-box {
    background: #c3dbdb;
    padding: 30px 15px;
    border-radius: 12px;
    border: 1px solid #6faeb0;
    flex: 1;
}

.label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #eee;
}